.product-card {
 width: 20%;
 height: auto;
 
 padding: 3px;
 margin-bottom: 15px;
 margin-right: 15px;
 border-radius: 15px;
 border: 5px solid #541554;


}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.product {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

}
#logo-head {
    width: 100px;
    height: 100px;
   
}