.header-container {
    background: #ECB22E;
      width: 60%;
      margin: 0 auto;
      padding-right: 5%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 350px;
  }
  

  .header-container .header-info{

    color: white;
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 350px;
  }
  

.header-container .header-info h1{
    font-size: 3rem;
    font-weight: 700;
  }

  #logo-head{
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  